<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zone">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />


    <application>

        <receiver android:name="com.zone.recevier.PullLiveReceiver">
            <intent-filter>
                <action android:name="com.zone.keeplive" />
            </intent-filter>
        </receiver>

        <!-- 顽强的监听所有的服务 用于8.0以下 -->
        <receiver
            android:name="com.zone.pulllive.receiver.BootReceiver"
            android:exported="false"
            android:process=":service">

            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <!--Android帐号同步相关用来拉活-->
        <service
            android:name="com.zone.pulllive.accountsync.AccountAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="com.zone.pulllive.accountsync.AccountSyncService"
            android:exported="true"
            android:process=":accountSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync" />
        </service>

        <provider
            android:name="com.zone.pulllive.accountsync.EmptyProviderForSync"
            android:authorities="@string/account_authority"
            android:process=":accountSyncService" />

        <service android:name="com.zone.keeplive.service.KeepLiveService" />

        <service
            android:name="com.zone.keeplive.service.DemonService"
            android:process=":klDemon" />

        <receiver android:name="com.zone.recevier.ClickBroadcastReceiver">
            <intent-filter>
                <action android:name="com.zone.MyBroadcastReceiver" />
            </intent-filter>
        </receiver>

<!--        <service-->
<!--            android:name="com.zone.keeplive.JobHandlerService"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
    </application>
</manifest>