<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylib_test"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- WIFI权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- android:resizeable="true" -->
    <application
        android:name="com.example.mylib_test.app.Apps"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AnimalSetAppTheme">
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mylib_test.activity.system.SystemMainActivity"></activity>
        <activity
            android:theme="@style/AppBaseTheme2"
            android:name="com.example.mylib_test.activity.system.LayoutInflaterActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.system.ResultActivity2"></activity>
        <activity android:name="com.example.mylib_test.activity.system.ResultActivity3"></activity>
        <activity android:name="com.example.mylib_test.activity.wifi.WifiAdapterActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.photo_shot.ShowPicActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.three_place.ImageLoaderActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.utils.GetPhoneTest"></activity>
        <activity android:name="com.example.mylib_test.activity.custom_view.CustomView_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.custom_view.ChengChengActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.custom_view.RippleViewActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.db.Db_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.http.Http_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.http.EventBusActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.Conflict1Activity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.NestedScrollingActvity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.NestedScrollingActivity_hongParent"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.NestedScrollingActivity_Child"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.VeclocityTrackerActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.ViewDragStudyActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.GestureDetectorActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.MyScaleActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.ScrollerActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.http.AsyncTask_TestActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.photo_shot.Photo_Shot_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.custom_view.AndroidHeroActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.photo_shot.ClipTest"></activity>
        <activity android:name="com.example.mylib_test.activity.three_place.ThirdParty_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.three_place.BlurActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.three_place.GildeActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.three_place.GooglePull2RecyclerActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.pop_dialog.Dialog_Pop_Adapter_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.utils.SoftTestActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.Animal_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.ress.ResMainActvitity"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.CanvasTest"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.XfermodeActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.ImageShowBigActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.wifi.Wifi3g_MainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.AniPro"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.ColorMarixTry"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.ViewHelperTestActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.CustomAniActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.animal.PixelsAcitivity"></activity>
        <activity android:name="com.example.mylib_test.activity.file.FileTestActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.file.Activity1"></activity>
        <activity android:name="com.example.mylib_test.activity.file.Activity2"></activity>
        <activity android:name="com.example.mylib_test.activity.custom_view.ArcMenuTestActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.frag_viewpager_expand.ViewPagerDisableScrollActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.frag_viewpager_expand.FramentSwitchAcitiviy"></activity>
        <activity android:name="com.example.mylib_test.activity.custom_view.SquareTestActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.three_place.GooglePullActvity"></activity>
        <activity android:name="com.example.mylib_test.activity.touch.TouchMainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.databingstudy.DataBingMainActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.databingstudy.DataBingStartActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.databingstudy.LambdaStartActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.databingstudy.RxjavaActivity"></activity>
        <activity android:name=".activity.animal.PathActivity"></activity>
        <activity android:name=".activity.animal.DampingActivity"></activity>
        <activity android:name="com.example.mylib_test.activity.utils.LayoutClipAcitivity"></activity>
        <activity
            android:name="com.example.mylib_test.activity.utils.Utils_MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

    </application>

</manifest>